/* ---------------------------------------------------------------------- */

/* https://quarto.org/docs/output-formats/html-themes.html#sass-variables */
/* ---------------------------------------------------------------------- */


/*-- scss:defaults --*/

$navbar-hl: #FAFAF9
;




/*-- scss:rules --*/

/* unvisited link */
a:link {
  color:  #7F22FE;
  text-decoration: none;
}

/* visited link */
a:visited {
  color:  #7F22FE;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color:  #7F22FE;
  text-decoration: underline;
  
}

/* selected link */
a:active {
  color:  #7F22FE;
  text-decoration: none;
} 


